body {
  font-family: '游ゴシック体', 'Yu Gothic', 'YuGothic', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  -webkit-text-size-adjust: none;
}
strong {
  font-weight: bold;
}
small {
  font-size: 75%;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  font-size: 14px;
}
img {
  vertical-align: bottom;
}
#header_inner {
  position: relative;
  padding: 4px 12px;
}
#title {
  font-size: 18px;
  font-weight: bold;
}
#movie-detail {
  text-align: center;
}
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  color: #ddd;
}
#footer_inner {
  padding: 4px 12px;
  text-align: right;
}
.no_img,
.yes_img {
  height: 32px;
  width: auto;
  padding-right: 4px;
  vertical-align: sub;
}
.yes_img {
  padding-left: 8px;
}
#page {
  padding-left: 12px;
}
#name-wrapper {
  background-image: url("../media/name.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
}
#name-detail {
  font-size: 52px;
  text-align: center;
  line-height: 1;
  padding-top: 240px;
}
.nod_to_next {
  padding-right: 16px;
  position: relative;
  left: -8px;
}
#ingredient-wrapper {
  padding: 4px 12px;
  background-color: #fff;
}
#ingredient-title,
#article-title {
  font-size: 24px;
  color: #8edad6;
  padding-bottom: 3px;
  padding-top: 2em;
  line-height: 1;
  border-bottom: 1px solid #8edad6;
}
#ingredient-detail {
  margin-top: 12px;
}
.ingredient-row {
  float: left;
  width: 33%;
  font-size: 24px;
  padding: 0 80px 0 16px;
}
.material {
  float: left;
  margin-right: 16px;
}
.amount {
  float: right;
  color: #666;
  font-size: 90%;
}
#article-detail {
  font-size: 24px;
}
